@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;

    
}
#primary-color{
    color: rgb(230, 83, 60);
}
#btn-primary-color{
    background: rgb(230, 83, 60);
}

/* nav related style */

.nave-title{
font-family: Inter;
font-size: 2.1rem;
font-weight: 800;
  
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1060px;
    margin: 0px auto;
    margin-top: 57px;
}

.nav-links{
    display: flex;
    gap: 47px;
    align-items: center;

    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 400;
}
.nav-item{
    list-style: none;
    
    
}
.nav-link{
    text-decoration: none;
}
.nav-btn{
width: 92px;
height: 38px;
color: white;
justify-content: center;
align-items: center;
border-radius: 46px;
padding: 8px 20px 8px 20px;

}

.hamburger-menu{
    display: none;
}














@media screen and (max-width:576px) {

    .hamburger-menu{
    display: block;
    margin-right:20px;
}
.nav-links{
  display: none;
}
.navbar{
    width: 400px;
    margin-left:20px;
    
}


}